/* BRAND_COLOR = a6e7ff */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a:link {
	color: #D6D6D6;
	text-decoration: none;
	border-color: #858585;
	border-width: 0 0 0.0625em 0;
	border-style: none none solid none;
	padding: 0.1875em 0 0.125em 0;
	background-color: inherit;
}

a:visited {
	color: #D6D6D6;
	border-style: none none dotted none;
}

a:hover, a:active {
	color: #FFFFFF;
	background-color: #006b92;
	border-color: #006b92;
}

body {
	background-color: #004e6b;
	color: #ffffff;
	font-family: Avenir, sans-serif;
	font-size: 100%;
	line-height: 1.33em;
	margin: 3% auto;
	max-width: 40em;
	width: 83%;
}

footer {
	color: #BBBBBB;
	font-size: 0.75em;
	font-style: italic;
	margin-top: 3em;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	color: #E9F9FF;
	text-align: center;
}

h1 {
	font-size: 2.37em;
}

h1 a:link, h1 a:visited {
	text-decoration: none;
	border: none;
}

h2 {
	font-size: 1.78em;
}

h3 {
	font-size: 1.33em;
}

header {
	margin-bottom: 3em;
}