*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a:link {
	color: #BDEDFF;
	text-decoration: none;
}

a:visited {
	color: #BDEDFF;
}

a:hover, a:active {
	border-bottom: solid 0.0625em #BDEDFF;
}

body {
	background-color: #2A3A40;
	color: #ffffff;
	font-family: Avenir, sans-serif;
	font-size: 100%;
	line-height: 1.33em;
	margin: 3% auto;
	max-width: 40em;
	width: 83%;
}

footer {
	color: #BBBBBB;
	font-size: 0.75em;
	font-style: italic;
	margin-top: 3em;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	color: #E9F9FF;
	text-align: center;
}

h1 {
	font-size: 2.37em;
}

h2 {
	font-size: 1.78em;
}

h3 {
	font-size: 1.33em;
}

header {
	margin-bottom: 3em;
}